/*  Yeah I got style...
      I've got rhythm 🤨🤨🤨 */

     body {background-color: #ad6a6a;}

     @font-face {
          font-family: OpenSans;
          src: url(./../../css/font/OpenSans.ttf);
     }

     h3 {
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: rgb(139, 86, 77);
     }

     h2 {
          font-family: OpenSans;
          color: rgb(39, 63, 99);
     }

     h1 {
          font-family: 'Courier New', Courier, monospace;
          color: rgb(84, 105, 136);
     }